/* 公共 */
* {
    padding: 0;
    margin: 0;
}

select {
    padding-right: 30px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/button_rightarrow.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-color: transparent;
}

input,
select,
textarea {
    border: 1px solid #979797;
    border-radius: 4px;
    padding-left: 5px;
}
input,textarea{
    box-sizing: border-box;
}

input {
    height: 28px;
}
input[type='number']{
    
}
select {
    height: 30px;
}

#MiscellaneousAndPrice{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
}
/* 遮罩层 */
.mask {
    background-color: black;
    opacity: 0.36;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}



/* 字体设置 */
.popWindow--PNR--name {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    line-height: 20px;
    display: inline-block;
}

/* 杂项弹窗 */
.popWindow--others {
    position: fixed;
    width: 878px;
    height: 80%;
    max-height: 800px;
    background-color: white;
    border-radius: 16px;
    left: 50%;
    margin-left: -464px;
    margin-top: 100px;
    overflow-y: scroll;
    padding-left: 30px;
    padding-right: 30px;
}
.popWindow--others-titleBox,
.popWindow--others-bodyBox {
    position: relative;
}

.popWindow--others-titleBox {
    border-bottom: 2px dashed #979797;
    margin-bottom: 12px;
}

.popWindow--others-title {
    text-align: center;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 700;
    color: #094b90;
    line-height: 28px;
    margin: 12px auto;
}

.popWindow--others-close {
    position: absolute;
    right: 0;
    top: 3px;
    line-height: 28px;
}

.popWindow--others-bodyBox--title{
    font-size: 15px;
    font-family: PingFangSC-Medium, PingFang SC;
    color: #333333;
    font-weight: 700;
    line-height: 28px;
    margin: 5px 0;
}
.popWindow--others-bodyBox--formBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}
.popWindow--tag--des-1{
    display: inline-block;
    width: 120px;
    min-width: 120px;
    margin-right: 5px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    line-height: 22px;
}
.popWindow--tag--input-1 {
    width: 130px;
    max-width: 130px;
    margin-bottom: 10px;
}
input.popWindow--tag--input-1{
    width: 130px;
}
.popWindow--others-bodyBox--wholeLineBox .popWindow--tag--des-1,
.popWindow--others-bodyBox--wholeLineBox .popWindow--tag--input-1{
    width: 100%;
    max-width: none;
    resize: none;
}

.popWindow--submit {
    display: block;
    width: 200px;
    height: 38px;
    margin: 20px auto;
    background-color: #F6AA24;
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
    border:none;
    border-radius: 5px;
    line-height: 38px;
}

/* 从机票复制来 */
.flex-justify-between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.flex-box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.popWindow--tag--one-third-box{
    justify-content: space-between;
    position: relative;
    width: 31%;
    margin-bottom: 5px;
}
.popWindow--tag--wholeLineInput-box{
    position: relative;
}
.popWindow--tag--des-3{
    display: inline-block;
    width: 120px;
    min-width: 120px;
    margin-right: 5px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    line-height: 22px;
}
.popWindow--tag--input-3 {
    background-position: 106px center;
    padding-right: 5px;
    flex: 1;
    box-sizing: border-box;
    width: 130px;
    max-width: 130px;
    margin-bottom: 10px;
}

.popWindow--tag--whole-input,
.popWindow--tag--whole-input_selectBtn {
    flex: 1;
}
.popWindow--tag--whole-input_selectBtn{
    background-position: 686px center;
    padding-right: 30px;
}
.popWindow--tag--whole-select,
.popWindow--tag--third-select{
    position: absolute;
    top: 27px;
    right: 0;
    background-color: white;
    border: 1px solid #979797;
    z-index: 10;
    cursor: pointer;
    line-height: 30px;
}
.popWindow--tag--third-select{
    width: 257px;
}
.popWindow--tag--whole-select{
    width: 707px;
}
.popWindow--tag--third-option,
.popWindow--tag--whole-option{
    /* border-bottom: 1px dotted #bbbbbb; */
    padding-left: 5px;
    padding-right: 30px;
}
.popWindow--tag--rebook-option:hover,
.popWindow--tag--refund-option:hover,
.popWindow--tag--third-option:hover,
.popWindow--tag--whole-option:hover{
    background-color: #dcdcdc;
}